*{
    margin: 0%;
    padding: 0%;
    font-family:hacen;
}

@font-face {
    font-family: hacen;
    src: url(hacen-liner-xl.ttf);
}

header > img {
    width: 100%;
}

header > h1 {
    text-align: center;
    font-size: 80px;
    color: #31a8ff;
    margin-top: 50px;
}

header > p {
    text-align: center;
    font-size: 60px;
    color: #001e36;
}

hr {
    border: 3px solid #31a8ff;
    width: 50%;
    margin: 10px auto;
}

section > img {
    width:65%;
    display: block;
    margin: 50px auto;
    transition: all 0.9s ease;
}

section > img:hover {
    width:68%;
    display: block;
    margin: 50px auto;
    transition: all 0.9s ease;
}

form {
    background-color: #31a8ff;
    width: 40%;
    margin: 0px auto;
    padding: 30px 0px 0px;
    border-radius: 80px 80px 0px 0px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
}

label {
    color: white;
    font-size: 45px;
}

.text {
    height: 50px;
    width: 70%;
    text-align: center;
    color: #001e36;
    font-size: 25px;
    border: 3px solid #001e36;
    border-radius: 15px;
    margin: 30px 0px 30px;
}

.c {
    width: 30px;
    height: 30px;
    margin: 45px 0px 45px;
}

b {
    font-size: 30px;
    margin: 0px 20px;
    color: #001e36;
}

.sel {
    height: 50px;
    width: 50%;
    text-align: center;
    border: 3px solid #001e36;
    border-radius: 15px;
    font-size: 25px;
    color: #001e36;
    margin: 50px 0px 30px;
}

button {
    height: 50px;
    width: 20%;
    background-color: white;
    color: #001e36;
    border: 3px solid #001e36;
    border-radius: 15px;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.title {
    text-align: center;
    margin: 130px 0px 30px;
    font-size: 70px;
    color: #001e36;
}

footer {
    text-align: center;
    background-color: #001e36;
    border-radius: 40px 40px 0px 0px ;
    margin-top: 75px;
    padding: 8px 0px 8px;
}

footer > p {
    margin: 30px 0px;
    font-size: 40px;
    color: white;
}

.pro {
    color: #001e36;
    margin: 40px 0px 0px;
    background-color: white;
    border-radius: 25px 25px 0px 0px;
    padding: 10px 0px 10px;
}

a {
    text-decoration: none;
}

i{
    color: #25D366;
}





@media screen and (min-width:1400px) and (max-width:1600px) {

    section > img {
        width:75%;
        display: block;
        margin: 50px auto;
        transition: all 0.9s ease;
    }
    
    section > img:hover {
        width:80%;
        display: block;
        margin: 50px auto;
        transition: all 0.9s ease;
    }

    form {
        background-color: #31a8ff;
        width: 50%;
        margin: 0px auto;
        padding: 30px 0px 0px;
        border-radius: 80px 80px 0px 0px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
    }
}

@media screen and (min-width:1000px) and (max-width:1399px) {

    header > h1 {
        text-align: center;
        font-size: 65px;
        color: #31a8ff;
        margin-top: 50px;
    }
    
    header > p {
        text-align: center;
        font-size: 50px;
        color: #001e36;
        margin-top: 20px;
    }
    
    hr {
        border: 3px solid #31a8ff;
        width: 50%;
        margin: 10px auto;
    }
    
    section > img {
        width:88%;
        display: block;
        margin: 50px auto;
        transition: all 0.9s ease;
    }
    
    section > img:hover {
        width:92%;
        display: block;
        margin: 50px auto;
        transition: all 0.9s ease;
    }
    
    form {
        background-color: #31a8ff;
        width: 65%;
        margin: 0px auto;
        padding: 30px 0px 0px;
        border-radius: 80px 80px 0px 0px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
    }
}

@media screen and (min-width:700px) and (max-width:999px) {

    header > h1 {
        text-align: center;
        font-size: 55px;
        color: #31a8ff;
        margin-top: 50px;
    }
    
    header > p {
        text-align: center;
        font-size: 45px;
        color: #001e36;
        margin-top: 20px;
    }
    
    hr {
        border: 2px solid #31a8ff;
        width: 60%;
        margin: 10px auto;
    }
    
    section > img {
        width:92%;
        display: block;
        margin: 50px auto;
        transition: all 0.9s ease;
    }
    
    section > img:hover {
        width:96%;
        display: block;
        margin: 50px auto;
        transition: all 0.9s ease;
    }

    .title {
        text-align: center;
        margin: 130px 0px 30px;
        font-size: 50px;
        color: #001e36;
    }
    
    form {
        background-color: #31a8ff;
        width: 70%;
        margin: 0px auto;
        padding: 30px 0px 0px;
        border-radius: 80px 80px 0px 0px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
    }

    label {
        color: white;
        font-size: 40px;
    }
    
    .text {
        height: 50px;
        width: 70%;
        text-align: center;
        color: #001e36;
        font-size: 25px;
        border: 3px solid #001e36;
        border-radius: 15px;
        margin: 30px 0px 30px;
    }
    
    .c {
        width: 30px;
        height: 30px;
        margin: 45px 0px 45px;
    }
    
    b {
        font-size: 30px;
        margin: 0px 20px;
        color: #001e36;
    }
    
    .sel {
        height: 50px;
        width: 50%;
        text-align: center;
        border: 3px solid #001e36;
        border-radius: 15px;
        font-size: 25px;
        color: #001e36;
        margin: 50px 0px 30px;
    }
    
    button {
        height: 50px;
        width: 20%;
        background-color: white;
        color: #001e36;
        border: 3px solid #001e36;
        border-radius: 15px;
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    footer {
        text-align: center;
        background-color: #001e36;
        border-radius: 40px 40px 0px 0px ;
        margin-top: 75px;
        padding: 8px 0px 8px;
    }
    
    footer > p {
        margin: 30px 0px;
        font-size: 35px;
        color: white;
    }
}

@media screen and (min-width:500px) and (max-width:700px) {

    header > h1 {
        text-align: center;
        font-size: 35px;
        color: #31a8ff;
        margin-top: 40px;
    }
    
    header > p {
        text-align: center;
        font-size: 30px;
        color: #001e36;
        margin-top: 20px;
    }
    
    hr {
        border: 1px solid #31a8ff;
        width: 60%;
        margin: 10px auto;
    }
    
    section > img {
        width:95%;
        display: block;
        margin: 50px auto;
        transition: all 0.9s ease;
    }
    
    section > img:hover {
        width:98%;
        display: block;
        margin: 50px auto;
        transition: all 0.9s ease;
    }

    .title {
        text-align: center;
        margin: 80px 0px 30px;
        font-size: 40px;
        color: #001e36;
    }
    
    form {
        background-color: #31a8ff;
        width: 85%;
        margin: 0px auto;
        padding: 30px 0px 0px;
        border-radius: 80px 80px 0px 0px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
    }

    label {
        color: white;
        font-size: 35px;
    }
    
    .text {
        height: 40px;
        width: 70%;
        text-align: center;
        color: #001e36;
        font-size: 25px;
        border: 3px solid #001e36;
        border-radius: 15px;
        margin: 30px 0px 30px;
    }
    
    .c {
        width: 25px;
        height: 25px;
        margin: 45px 0px 45px;
    }
    
    b {
        font-size: 27px;
        margin: 0px 20px;
        color: #001e36;
    }
    
    .sel {
        height: 50px;
        width: 50%;
        text-align: center;
        border: 3px solid #001e36;
        border-radius: 15px;
        font-size: 25px;
        color: #001e36;
        margin: 50px 0px 30px;
    }
    
    button {
        height: 50px;
        width: 30%;
        background-color: white;
        color: #001e36;
        border: 3px solid #001e36;
        border-radius: 15px;
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .pro {
        color: #001e36;
        margin: 40px 0px 0px;
        background-color: white;
        border-radius: 25px 25px 0px 0px;
        padding: 10px 0px 10px;
        font-size: 25px;
    }

    footer {
        text-align: center;
        background-color: #001e36;
        border-radius: 40px 40px 0px 0px ;
        margin-top: 75px;
        padding: 8px 0px 8px;
    }
    
    footer > p {
        margin: 30px 0px;
        font-size: 28px;
        color: white;
    }
}

@media screen and (min-width:350px) and (max-width:500px) {

    header > h1 {
        text-align: center;
        font-size: 28px;
        color: #31a8ff;
        margin-top: 40px;
    }
    
    header > p {
        text-align: center;
        font-size: 25px;
        color: #001e36;
        margin-top: 10px;
    }
    
    hr {
        border: 1px solid #31a8ff;
        width: 60%;
        margin: 10px auto;
    }
    
    section > img {
        width:95%;
        display: block;
        margin: 40px auto;
        transition: all 0.9s ease;
    }
    
    section > img:hover {
        width:98%;
        display: block;
        margin: 50px auto;
        transition: all 0.9s ease;
    }

    .title {
        text-align: center;
        margin: 60px 0px 30px;
        font-size: 33px;
        color: #001e36;
    }
    
    form {
        background-color: #31a8ff;
        width: 90%;
        margin: 0px auto;
        padding: 30px 0px 0px;
        border-radius: 80px 80px 0px 0px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
    }

    label {
        color: white;
        font-size: 30px;
    }
    
    .text {
        height: 40px;
        width: 70%;
        text-align: center;
        color: #001e36;
        font-size: 20px;
        border: 3px solid #001e36;
        border-radius: 15px;
        margin: 30px 0px 30px;
    }
    
    .c {
        width: 20px;
        height: 20px;
        margin: 45px 0px 45px;
    }
    
    b {
        font-size: 25px;
        margin: 0px 20px;
        color: #001e36;
    }
    
    .sel {
        height: 45px;
        width: 65%;
        text-align: center;
        border: 3px solid #001e36;
        border-radius: 15px;
        font-size: 25px;
        color: #001e36;
        margin: 50px 0px 30px;
    }
    
    button {
        height: 43px;
        width: 35%;
        background-color: white;
        color: #001e36;
        border: 3px solid #001e36;
        border-radius: 15px;
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .pro {
        color: #001e36;
        margin: 40px 0px 0px;
        background-color: white;
        border-radius: 25px 25px 0px 0px;
        padding: 10px 0px 10px;
        font-size: 20px;
    }

    footer {
        text-align: center;
        background-color: #001e36;
        border-radius: 40px 40px 0px 0px ;
        margin-top: 75px;
        padding: 8px 0px 8px;
    }
    
    footer > p {
        margin: 30px 0px;
        font-size: 20px;
        color: white;
    }
}